---
import { languages } from ".";
---

<ul>
    {
        Object.entries(languages).map(([lang, label]) => (
            <li>
                <a href={`/${lang}/`}>{label}</a>
            </li>
        ))
    }
</ul>
